a
  text-decoration: none



.cb-p
  p
    margin: 0

.profile-image
  width: 350px

.header-profile-pic
  width: 30px
  height: 30px
  border-radius: 50%
  pointer-events: none

.alert
  p
    margin-bottom: 0

.card

  .post-img
    pointer-events: none

  .post-header
    h5
      margin-top: 0.5rem
    p
      margin-bottom: 0

  .post-profile-pic
    width: 30px
    height: 30px
    border-radius: 50%
    pointer-events: none

  .timestamp
    margin-left: 5px

