{% extends 'base.html' %}

{% block title %}Vdg - Blog{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-6 mb-3">

                <div class="card">

                    <div class="card-header post-header">
                        <div class="d-flex align-items-center">
                            <img src="{{ post.author.profile_picture.url }}" class="post-profile-pic me-2" alt="{{ post.author.user.username }}'s profile picture">
                            <p>{{ post.author }}</p>
                            <p class="card-text timestamp"><small class="text-muted">{{ post.timestamp|date:"d/m/Y G:i" }}</small></p>
                        </div>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p><i class="fa-solid fa-eye"></i> {{ post.views }}</p>
                    </div>

                    <img src="{{ post.thumbnail.url }}" class="card-img-top img-fluid post-img" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ post.content|truncatechars:355 }}</p>
                        <div class="d-flex justify-content-between flex-wrap">
                            <a href="{% url 'blog:post' post.pk %}" class="btn btn-primary">Let's see</a>
                        </div>
                    </div>
                    <div class="d-flex cb-p justify-content-between card-footer text-muted">
                        <p>{{ post.author }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.timestamp|date:"d/m/Y G:i" }}</small></p>
                    </div>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}