{% extends 'base.html' %}

{% block title %}Vdg - Add Post{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add Post</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}