{% extends 'base.html' %}
{% block title %}Blog - {{ post.title }}{% endblock %}
{% block content %}
    <div class="container">
        <a href="{% url 'blog:blog' %}">Back</a>
        <h2>{{ object.title }}</h2>
        <p>{{ post.timestamp|date:"d/m/Y G:i" }}</p>
        <img src="{{ post.thumbnail.url }}" class="card-img-top img-fluid post-img" alt="">
        <div>{{ content|safe }}</div>
        <p>{{ post.categories }}</p>
        <p>{{ post.views }}</p>
        <hr>
        <h4>Comments</h4>
        {% for comment in comments %}
            <div>
                {% include 'blog/parts/comment.html' %}
            </div>
            {% empty %}
            <p>This post doesn't contain comments</p>
        {% endfor %}
        <div>
            {% include 'blog_comments/add_comment.html' %}
        </div>
    </div>
{% endblock %}