{% extends 'base.html' %}
{% load static %}

{% block title %}Vdg - Greetings{% endblock %}

{% block content %}
    <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row justify-content-between align-items-center" style="height: 85vh">
                <div class="col-lg-6">
                    <h1 class="font-weight-light" style="font-weight: 400">Hello, i'm <span class="font-weight-bold" style="font-weight: 700">Vladimir Marushkevich</span></h1>
                    <h6>Python Developer and linux enjoyer :)</h6>
                </div>
                <div class="col-lg-3">
                    <img style="max-width: 100%; border-radius: 10px" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="avatar">
                </div>
            </div>

            <section class="d-flex justify-content-center justify-content-lg-between pb-5">

                <div>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="me-4 link-secondary">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

                <div class="d-none d-lg-block">
                    <a href="mailto:contact.marushkevich@gmail.com" style="color: black">contact.marushkevich@gmail.com</a>
                </div>

            </section>

            <div style="height: 100vh; display: flex; align-items: center;">
                <div style="width: 100%">
                    <h2>What I do?</h2>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="col-lg-3">
                            <i class="fa-solid fa-brush mb-3" style="font-size: 40px"></i>
                            <h5>UI/UX</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-3">
                            <i class="fa-solid fa-desktop mb-3" style="font-size: 40px"></i>
                            <h5>Website</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-3">
                            <i class="fa-solid fa-mobile mb-3" style="font-size: 40px"></i>
                            <h5>Mobile Apps</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 85vh; display: flex; align-items: center;">
                <div style="width: 100%">
                    <h2>Skills</h2>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="col-lg-3 d-flex">
                            <i class="fa-brands fa-html5" style="font-size: 32px"></i>
                            <p>HTML</p>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <i class="fa-brands fa-python" style="font-size: 32px"></i>
                            <p>Python</p>
                        </div>
                        <div class="col-lg-3 d-flex">
                            <i class="fa-brands fa-docker" style="font-size: 32px"></i>
                            <p>Docker</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 85vh; display: flex; align-items: center;">
                <div style="width: 100%">
                    <h2>Experience</h2>
                    <div class="mt-5">
                        <div class="col-lg-12">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-12">
                            <h5>Website</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-12">
                            <h5>Mobile Apps</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>

            <div style="height: 85vh; display: flex; align-items: center;">
                <div style="width: 100%">
                    <h2>What I do?</h2>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="col-lg-3">
                            <h5>UI/UX</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-3">
                            <h5>Website</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="col-lg-3">
                            <h5>Mobile Apps</h5>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}