<div class="col-lg-6 mb-3">

    <div class="card">

        <div class="card-header post-header">
            <div class="d-flex align-items-center">
                <img src="{{ post.author.avatar.url }}" class="post-profile-pic me-2" alt="{{ post.author.username }}'s profile picture">
                <p>{{ post.author }}</p>
                <p class="card-text timestamp"><small class="text-muted">{{ post.timestamp|date:"d/m/Y G:i" }}</small></p>
            </div>
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="d-flex">
                <p class="me-2"><i class="fa-solid fa-eye me-1"></i>{{ post.views }}</p>
                <p><i class="fa-solid fa-comment me-1"></i>{{ post.comments.count }}</p>
            </div>
        </div>

        <img src="{{ post.thumbnail.url }}" class="card-img-top img-fluid post-img" alt="">
        <div class="card-body">
            <p class="card-text">{{ post.content|truncatechars:355|safe }}</p>
            <div class="d-flex justify-content-between flex-wrap">
                <a href="{% url 'blog:post' post.pk %}" class="btn btn-primary">Let's see</a>
                {% if request.resolver_match.url_name == 'posts_by_author' %}
                    <a href="{% url 'blog:edit_post' post.pk %}" class="btn btn-outline-primary">Edit</a>
                {% endif %}
            </div>
        </div>
        {% comment %}<div class="d-flex cb-p justify-content-between card-footer text-muted">
            <p>{{ post.author }}</p>
            <p class="card-text"><small class="text-muted">{{ post.timestamp|date:"d/m/Y G:i" }}</small></p>
        </div>{% endcomment %}

    </div>

</div>